.section {
  border: 2px solid #777;
  padding: 40px;
  background: silver;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 1.5),
(min-resolution: 120dpi) {
  .section {
    border: 2px dotted #000;
  }
}

@media only screen and (min-width: 961px) and (max-width: 5000px) {
  .section {
    background: red;
    color: white;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .section {
    background: green;
    color: white;
  }
}

@media only screen and (max-width: 480px) {
  .section {
    background: yellow;
    color: white;
  }
}