body {
  background: #eeeeee;
  color: #222222;
}
@media screen and (min-width: 600px) and (max-height: 500px) {
  body {
    background: #222222;
  }
}

h1, p {
  text-shadow: 0 -1px 1px rgba(238, 238, 238, 0.3);
}

h1 {
  margin: 0;
}

div {
  -moz-border-radius: 6px / 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px / 6px;
}

.wrapper {
  padding-top: 10px;
  margin: 0 10px;
  position: relative;
}
@media screen and (min-width: 600px) {
  .wrapper {
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 600px) and (max-height: 500px) {
  .wrapper {
    width: 90%;
  }
}

.main, .leftcol, .rightcol {
  padding: 2%;
  margin-bottom: 10px;
}

.main {
  background: #ff3333;
}
@media screen and (min-width: 600px) {
  .main {
    width: 68%;
    float: right;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    width: 46%;
    float: left;
  }
}
@media screen and (min-width: 600px) and (max-height: 500px) {
  .main {
    float: none;
    width: 52%;
  }
}
@media screen and (min-width: 1200px) and (max-height: 500px) {
  .main {
    width: 40%;
  }
}

.leftcol {
  background: #55aaff;
}
@media screen and (min-width: 600px) {
  .leftcol {
    width: 22%;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  .leftcol {
    width: 44%;
    float: right;
  }
}
@media screen and (min-width: 600px) and (max-height: 500px) {
  .leftcol {
    position: fixed;
    top: 10px;
    width: 34%;
    right: 5%;
    float: none;
  }
}
@media screen and (min-width: 1200px) and (max-height: 500px) {
  .leftcol {
    width: 20%;
    right: 30%;
  }
}

.rightcol {
  background: #33ff33;
}
@media screen and (min-width: 600px) {
  .rightcol {
    float: right;
    width: 68%;
  }
}
@media screen and (min-width: 1200px) {
  .rightcol {
    width: 44%;
  }
}
@media screen and (min-width: 600px) and (max-height: 500px) {
  .rightcol {
    float: left;
    width: 52%;
  }
}
@media screen and (min-width: 1200px) and (max-height: 500px) {
  .rightcol {
    position: fixed;
    top: 10px;
    width: 20%;
    right: 5%;
    float: none;
  }
}
